<main>
  <h2>search results</h2>

  <p><%=results.length %> results</p>

  <% for(insult of results){ %>

  <ul>
    <li>
      <p>Text:</p>
      <%=insult.text %>
    </li>
    <li>
      <p>Origin:</p>
      <%=insult.origin %>
    </li>
    <li>
      <p>Severity:</p>
      <%=insult.severity %>
    </li>
    <li>
      <p>ID:</p>
      <%=insult.id %>
    </li>
  </ul>

  <form action="/favorite" method="POST">
    <button class="favorite-button" name="favorite" value="<%-insult.id  %> ">
      <img
        class="favorite-icon"
        src="/assets/favorite_border-24px.svg"
        alt="heart"
      />
    </button>
  </form>

  <% } %>
</main>
